@use 'base/variables' as v;
@use 'base/mixins' as m;

.navbar{
    position: sticky;
    display: flex;
    flex-direction: column-reverse;
    gap: 2.5rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 10rem;
    margin: 0 auto;
    height: auto;
    top: 0;
    left: 0;
    z-index: 99;
    box-shadow: -1px 3px 8px -1px rgba(0, 0, 0, 0.226);
    @include m.tablet{
        flex-direction: row;
        padding: 1rem 3rem;
    }

    &::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(16 18 27 / 40%);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    left: 0;
    bottom: 0;
    z-index: 0;
    border-bottom: 1px solid v.$border-color;
}
    &__menu{
        display: none;
        position: relative;
        z-index: 2;
        flex-direction: column;
        list-style: none;
        gap: 3rem;
        align-items: center;
        padding: 0;
        width: 100%;
        @include m.tablet{
            display: flex;
            flex-direction: row;
            width: auto;
        }
        &--item{
            color: v.$white;
        }

        &.visible{
            display: flex;
        }
    }
    
    .logo{
        position: relative;
        z-index: 2;
    }
}

.active{
    background-color: v.$purple;
    color: v.$white;
    padding: 1rem 2rem;
    border-radius: 10rem;;
}